.form-field {
  background-color: #f8f8fa;
  border: 1px solid transparent;
  border-radius: 0;
  box-sizing: border-box;
  height: 48px;
  width: 100%;
  padding: 14px 16px;
  outline: none;
  box-shadow: none;

  &::placeholder {
    color: #7e7e83;
    font-size: 14px;
    line-height: 20px;
    outline: none;
  }

  &--textarea {
    resize: none;
    height: 144px;
    padding: 14px 16px;
  }
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  color: #161616;
  border-color: #d5d7de;
  outline: none;
}

input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus,
.form-field:focus {
  color:#161616;
  border-color: #161616;
  outline: none;
}
